<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{cliente.nombre}}</title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">


                <form class="mt-5" action="" method="post">
                    {% csrf_token %}
                    <h4 class="mt-5">Estas seguro de eliminar al cliente: {{ cliente.nombre }}</h4>
                    <fieldset class="form-group mt-5">
                        <button class="form-control  btn btn-primary" type="submit">Eliminar</button>
                    </fieldset>
                    <fieldset class="form-group">
                        <a class="form-control btn btn-danger" class="text-light" href="{% url 'listarCliente' %}">cancelar</a>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>

</html>